
@{
    Layout = null;
}

<div>
    {{message}}
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>

<div>
    <input type="text" value="9 Chichester Road Hellingly BN27 4bf" data-ng-model="address" name="address" id="address" />
</div>