@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/lodash.min.js"></script>
<script src="~/Scripts/angular-google-maps.min.js"></script>
@*    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>*@
<script src="~/Js/app.js"></script>
<script src="~/Js/mapcontroller.js"></script>
<script src="~/Js/geocodecontroller.js"></script>

<div data-ng-app="mapapp">
    <div data-ng-view="">

    </div>
</div>